.data{
   color: red;
   display: flex;
   justify-content: center;
   flex-basis: auto;

}
.speedo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.meter{
    display: flex;
    justify-content: center;
    align-items: center;
}